@model pactica123.Models.Fuentes_Financiamiento

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Fuentes_Financiamiento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre_fuente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_fuente)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_fuente_financiamiento }) |
    @Html.ActionLink("Back to List", "Index")
</p>
